$color1: #3B2FFF;
$color2: #392DFF;
$color3: #F0F2F5;
$color4: #FFFFFF;
// 909090100%
// Unlinked902
// 2D3A47100%
// Unlinked646
// 000000100%
// Unlinked622
// FFFFFF100%
// RemoteLight Theme / Component 1177
// Unlinked199
// DAE2E8100%
// RemoteLight Theme / Component Outline130
// Unlinked200
// 252525100%
// Unlinked102
// C4C4C4100%
// Unlinked99
// 606060100%
// Unlinked99
// 392DFF100%
// Unlinked85
// 3B2FFF100%
// Unlinked72
// 303030100%
// Unlinked49
// F0F2F5100%
// Unlinked46
// EC6446100%
// Unlinked31
// 00000025%
// Unlinked25
// Linear100%
// Unlinked22
// EB0000100%
// Unlinked16
// F5F5F5100%
// Unlinked11
// 6C63FF10%
// Unlinked9
// 808080100%
// Unlinked8
// 4A4B57100%
// RemoteGray / 705
// 6839CF100%
// Unlinked5
// 6C63FF15%
// Unlinked4
// 6C63FF20%
// Unlinked4
// 6C63FF100%
// Unlinked4
// 00000015%
// Unlinked2
// E5E5E5100%
select {
    background-color: #392DFF;
}

.form-search {
    background-image: url('../img/icons/search.svg');
    background-position: 10px center;
    background-repeat: no-repeat;
}

.btn-show,
.btn-edit,
.btn-delete,
.btn-img,
.btn-img-close {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 1.56rem;
    height: 1.56rem;
}

.btn-show {
    background-image: url('../img/icons/btn-show.svg');
    &[aria-expanded='true'] {
        background-image: url('../img/icons/btn-hide.svg');
    }
}

.btn-edit {
    background-image: url('../img/icons/btn-edit.svg');
}

.btn-delete {
    background-image: url('../img/icons/btn-delete.svg');
}

.btn-img {
    background-image: url('../img/icons/btn-img.svg');
}

.btn-img-close {
    background-image: url('../img/icons/btn-img-close.svg');
}

.border-dashed {
    border: 1px dashed #909090;
}

.form-check-input {
    z-index: 1;
}

.form-check-input:checked+.border,
.modal-content {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.photos-page {
    .btn-img,
    .btn-img-close {
        right: 23px !important;
    }
}

img {
    object-fit: cover;
    object-position: center;
}